header {
    margin-top: 2%;
    margin-bottom: 3%;
}
.quote {
    font-style: italic;
}
.search {
    width: 100% !important;
}
.content-view {
    padding-right: 30px;
    word-wrap: break-word;
    overflow: hidden;
}
.content-post {
    margin-bottom: 30px;
}
div.content-post:nth-last-child(2) {
    margin-bottom: 5px;
}
.content-post h2,.postdate {
    margin: 0;
}
.postdate {
    margin-left: 2px;
}
.sidebar-post h4, .sidebar-post p {
    margin: 0;
}
.sidebar-post p:last-child {
    margin-bottom: 10px;
}
.sidebar-post p{
    word-wrap: break-word;
    word-break: break-all;
}
#latestposts {
    margin-bottom: 10px;
}
.pagination-urls li{
    display: inline-block;
}
.highlight {
    background: yellow;
}
@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
    header {
        text-align: center;
    }
    .container {
        width: 600px;
    }
}